{% load static %}
<header>
    <div class="header-container">
        <a href="{% url 'products:product_list' %}" class="header__logo">
            <img src="{% static 'img/logo.svg' %}" alt="Hop & Barley Logo">
            <p class="logo-text">Hop & Barley</p>
        </a>
        <nav class="header__nav">
            <ul>
                <li><a href="base.html">Products</a></li>
                <li><a href="guides-recipes.html">Guides & Recipes</a></li>
                <li><a href="#">Community</a></li>
                <li><a href="#">Resources</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>

        <!-- Block for unauthorized user -->
        {% if not user.is_authenticated %}
        <div class="header__auth-buttons" id="auth-guest">
            <a href="{% url 'users:login' %}" class="button button--secondary">Sign in</a>
            <a href="{% url 'users:register' %}" class="button button--primary">Register</a>
        </div>
        {% else %}
            <div class="header__auth-buttons" id="auth-user">
                <a href="{% url 'users:account' %}" class="button button--secondary">My Account</a>
                <form method="post" action="{% url 'users:logout' %}">
                    {% csrf_token %}
                    <button type="submit" class="button button--primary">Logout</button>
                </form>
            </div>
        {% endif %}

        <!-- Block for authorized user -->
        <div class="header__user-actions" id="auth-user">
            <a href="#" class="user-icon" aria-label="My Account">
                <img src="{% static 'img/icons/User_alt.svg' %}" alt="User Account">
            </a>
            <a href="{% url 'cart:cart_detail' %}" class="cart-icon" aria-label="Shopping Cart">
                <img src="{% static 'img/icons/Shopping_bag.svg' %}" alt="Shopping Cart">
            </a>

        </div>
    </div>
</header>
