{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Main Content -->
<main class="auth-page-wrapper">
  <div class="auth-background">
    <img src="{% static 'img/background/pattern.jpg' %}" alt="Background pattern">
  </div>
  <div class="auth-form-container">
    <div class="auth-container auth-container--forgot-password">
      <form method="post" class="auth-form" id="forgot-password-form">
          {% csrf_token %}
        <div class="InputField">
            <p class="auth-subtitle">
                Enter your email and we’ll send you a password reset link.
            </p>
          <label for="{{ form.email.id_for_label }}">Email</label>
            {{ form.email }}
            {% if form.email.errors %}
                <span class="error">{{ form.email.errors.0 }}</span>
            {% endif %}
        </div>

        <div class="ButtonGroup ButtonGroup--center">
          <a href="{% url 'users:login' %}" class="button button--cancel">Cancel</a>
          <button type="submit" class="button button--primary">Reset Password</button>
        </div>
      </form>
    </div>
  </div>
</main>

{% endblock %}
