{% extends 'base.html' %}
{% load static %}

{% block content %}

<main class="auth-page-wrapper">
    <div class="auth-background">
        <img src="{% static 'img/background/pattern.jpg' %}" alt="Background pattern">
    </div>

    <div class="auth-form-container">
        <div class="auth-container auth-container--forgot-password">

            <form method="post" class="auth-form">
                {% csrf_token %}

                <div class="InputField">
                    <label for="{{ form.new_password1.id_for_label }}">
                        New Password
                    </label>
                    {{ form.new_password1 }}
                    {{ form.new_password1.errors }}
                    {{ form.errors }}
                </div>

                <div class="InputField">
                    <label for="{{ form.new_password2.id_for_label }}">
                        Confirm Password
                    </label>
                    {{ form.new_password2 }}
                    {{ form.new_password2.errors }}
                    {{ form.errors }}
                </div>

                <div class="ButtonGroup ButtonGroup--center">
                    <button type="submit" class="button button--primary">
                        Change Password
                    </button>
                </div>
            </form>

        </div>
    </div>
</main>
{% endblock %}