{% extends 'base.html' %}
{% load static %}

{% block content %}
<main class="auth-page-wrapper">
    <div class="auth-background">
        <img src="{% static 'img/background/pattern.jpg' %}" alt="Background pattern">
    </div>

    <div class="auth-form-container">
        <div class="auth-container auth-container--forgot-password">

            <div class="Legend">
                <h1 class="auth-title">
                    Password Changed
                </h1>
            </div>

            <p class="auth-description">
                Your password has been changed successfully.
            </p>

            <div class="ButtonGroup ButtonGroup--center">
                <a href="{% url 'users:login' %}"
                   class="button button--primary">
                    Sign In
                </a>
            </div>

        </div>
    </div>
</main>
{% endblock %}